#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

body {
  background-color: #0070c0; /* Macho Man Blue */
  background-size: cover;
}

.mood-card {
  display: flex;
  border: 2px solid black;
  border-radius: 5%;
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 15px;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #fa70b7; /* Macho Man Pink */
  box-shadow: #333;
}

.mood-name {
  color: coral;
  font-family: cursive;
}

.macho-advice {
  display: flex;
}

img {
  margin: 10px;
  width: 160px;
  box-shadow: 6px 6px 19px 0px #000000;
  transform: skew(4deg, -5deg);
}

h3 {
  text-align: center;
  text-shadow: 0px 0px 2px #cfe6f6;
  font-family: monospace;
  font-size:200%;
  color: #c78822; 
  background-color: #8b0909;
  border-radius: 10%;
}

h1 {
  color: brown;
  text-align: center;
  font-family: fantasy;
  scale: 150%;
}
