#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.mood-card {
  display: flex;
  border: 2px solid black;
  border-radius: 5%;
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 15px;
  flex-flow: column nowrap;
  align-items: center;
}

.macho-advice {
  display: flex;
}

img {
  margin: 10px;
  width: 160px;
  box-shadow: 6px 6px 19px 0px #000000;
  transform: skew(4deg, -5deg);
}
